gluonts[torch]==0.14.4
numpy==1.23.5
torch==2.2.0
wandb==0.16.3
scipy==1.11.4
pandas==2.1.4
huggingface_hub[cli]==0.20.3
matplotlib==3.8.2
yfinance==0.2.36
jupyter==1.0.0
pydantic>=2.4.2
typing-extensions>=4.8.0 